.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.form button{
  align-items: center;
  width: 150px;
  margin-left: 50%;
}


.card-header{
  margin-bottom: 20px;
  color: #ff0000;
}



