<p>inicio works!</p>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Usuario</th>
      <th scope="col">Nombre</th>
      <th scope="col">Imagen</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Series</th>
      <th scope="col">Repeticiones</th>
      <th scope="col">Editar</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ejercicio of ListarEjercicio">
      <!--<th scope="row">1</th>-->
      <td>{{ejercicio._id}}</td>
      <td>{{ejercicio.user}}</td>
      <td>{{ejercicio.name}}</td>
      <td> <img src="{{ejercicio.image}}" alt="" width="50" height="50">  </td>
      <td>{{ejercicio.description}}</td>
      <td>{{ejercicio.series}}</td>
      <td>{{ejercicio.repeticiones}}</td>
      <td>
        <button (click)="modificar(ejercicio._id)" type="button" mat-raised-button color="primary" >modificar</button>
      </td>
      <td>
        <button (click)="eliminar(ejercicio._id)" type="button" mat-raised-button color="warn">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<mat-list>
  <ng-container *ngFor="let ejercicio of ListarEjercicio" >
    <mat-list-item>{{ejercicio.name}}</mat-list-item>
    <mat-divider></mat-divider>
  </ng-container>
</mat-list>

