<div class="container" >
    <div class="abs-center">
      <form action="#" class="border p-3 form">
        <img style="border-radius: 20px;" src="assets/fitness.png" class="card-img-top" alt="...">
        <div class="card-body">
          <form (submit)= "signIn()">
            <div class="form-group">
              <label for="email" >Email</label>
              <input type="email" [(ngModel)]="user.name" name="email" id="email" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="form-group">
              <label for="password" >Contraseña</label>
              <div class="input-group">
                <input type="password" [(ngModel)]="user.password" name="password" id="password" class="form-control" placeholder="Contraseña">
                <div class="input-group-append">
                  <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                </div>
                <br><br>

              </div>
            </div>
            <div>
              <a href="http://localhost:4200/signup"> <h4>¿Olvido la contraseña?</h4></a>

            </div>

            <button type="submit" class="btn btn-primary btn-block" style="background-color: black; color: red; border-radius: 20px;">Iniciar Sesion</button>
          </form>
        </div>
      </form>
  </div>
  </div>
