<div class="container">
  <div class="abs-center">
    <form action="#" class="border p-3 form">
      <div class="card-header"><h1>Registrarse</h1></div>
      <img style="border-radius: 20px;" src="assets/fitness.png" class="card-img-top" alt="...">
      <div class="card-body">
        <form (submit)= "signUp()">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="user.name" name="name" id="name" class="form-control" placeholder="Email" required autofocus>
          </div>
          <div class="form-group">
            <label for="text">Apellidos</label>
            <input type="text" [(ngModel)]="user.last_name" name="apellidos" id="apellidos" class="form-control" placeholder="Apellidos" >
          </div>
          <div class="form-group">
            <label for="text">Nacionalidad</label>
            <input type="text" [(ngModel)]="user.nationality" name="nacionalidad" id="nacionalidad" class="form-control" placeholder="Nacionalidad"  >
          </div>
          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" [(ngModel)]="user.password" name="password" id="password" class="form-control" placeholder="Contraseña">
          </div>
          <button type="submit" class="btn btn-primary btn-block" style="background-color: black; color: red; border-radius: 20px;">Registrarse</button>
        </form>


      </div>

    </form>
</div>
